stages:
  - build
  - deploy

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE:latest

build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $IMAGE_NAME .
    - docker push $IMAGE_NAME

deploy_production:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_PRODUCTION_HOST >> ~/.ssh/known_hosts
  script:
    - |
      ssh $SERVER_PRODUCTION_USER@$SERVER_PRODUCTION_HOST "cd /root/katujuan && \
      echo '$DEPLOY_PASSWORD' | docker login registry.gitlab.com -u $DEPLOY_USER --password-stdin && \
      docker compose pull app && \
      docker compose up -d app"
  only:
    - main